@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    background-image: url(MenuEmp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.ConsultaSurtido{
    width: 50%;
    height: 50%;
    background: #fafafa10;
    backdrop-filter: blur(00.4rem);
    margin: 10px;
    position: absolute; left: 30%;
    border: 4px solid #fafafa10;

}

.Botonatras{
    position: relative;
    left: 4%;
    top: 4%;
    padding: 5px 25px;
    border-radius: 10px;
}


h2{
    font-family: "Bangers", system-ui;
    font-size: 45px;
    text-align: center;
    position: absolute;
    left: 38%;
    top: 10%;
}

p{
    position: relative;
    text-align: center;
    position: relative;
    top: 30%;
    font-weight: bold ;
    text-transform: uppercase;
}


Table{
    background-color: rgb(255, 255, 255);
    position: absolute; top: 40%;
    margin: 25px;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    background-color:rgb(87, 154, 218);
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

tr{
    text-align: center;
}

.Proceder{
    position: relative;
    top: 65%;
    left: 45%;
    padding: 10px 30px;
    border-radius: 10px;
    border: 4px solid black;
}
