@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    background-image: url(MenuEmp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.Botonatras{
    position: relative;
    left: 4%;
    top: 4%;
    padding: 5px 25px;
    border-radius: 10px;
}


.bventa{
    width: 50%;
    height: 900px;
    background: #fafafa10;
    margin: 10px;
    position: absolute; left: 30%;
    border: 4px solid #fafafa10;
    backdrop-filter: blur(0.4rem);

}


.Confirmacion{

    background-color: #d4edda; 
    color: #155724; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 15px;

}


h2{
    text-align: center;
    font-family: "Bangers", system-ui;
    color: white;
    letter-spacing: 1px;
    padding-top: 8%;
    font-size: 50px;
    margin: auto;
    margin-bottom: 2%;

}

.Formventa{
    position: relative;
    margin: auto;
    text-align: center;
    
}

.Formventa p{
    color: white;
}


.btonventa{

    padding: 5px 20px;
    border-radius: 4px;

}