@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    background-image: url(/imagenes/MenuEmp.jpg);
}

.bventa{
    width: 900px;
    height: 900px;
    background: rgb(92, 86, 86);
    margin: 10px;
    position: absolute; left: 30%;
    border: 4px solid black;

}

h1{
    font-family: "Bangers", system-ui;
    position: absolute; left: 35%;
    position: absolute; top: 9%;
    letter-spacing: 3px;

}

.Busqueda{
    position: absolute; top: 22%;
    position: absolute; left: 3%;
    width: 300px;
    border: 2px solid black;
    padding: 4px;
    border-radius: 10px;
}

.idproducto{
    position: absolute; top: 16%;
    position: absolute; left: 3%;
    font-weight: bold;
}

.Botonatras{
    position: relative;
    left: 4%;
    top: 4%;
    padding: 5px 25px;
    border-radius: 10px;
}

Table{
    background-color: rgb(255, 255, 255);
    position: absolute; top: 25%;
    margin: 25px;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color:rgb(180, 211, 240);
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tr{
    text-align: center;
}

.Texto{
    position: absolute; top: 46%;
    margin-left: 3%;
    width: 300px;
    font-weight: bold;
}

.Cajatext{
    width: 300px;
    border: 2px solid black;
    padding: 4px;
    border-radius: 10px;
}

.Totalpedido{
    text-align: center;
    position: relative;
    left: 85%;
    right: 85%;
}

.RegistrarV{
    position: relative;
    left: 350px;
    right: 350px;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid black;
}