@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body{
    background-image: url(MenuGer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.addusuario{

    width: 50%;
    height: 900px;
    background: #fafafa10;
    margin: 10px;
    position: absolute; left: 25%;
    border: 4px solid #fafafa10;
    backdrop-filter: blur(0.4rem);

}


.Botonatras{
    position: relative;
    left: 4%;
    top: 4%;
    padding: 5px 25px;
    border-radius: 10px;
}

.Formadd{
    position: relative;
    margin: auto;
    text-align: center;
    box-sizing: content-box;
}

.Formadd p{
    color: white;
}

h2{
    text-align: center;
    font-family: "Bangers", system-ui;
    color: white;
    letter-spacing: 1px;
    padding-top: 8%;
    font-size: 50px;
    margin: auto;
    margin-bottom: 2%;

}

.inputs{
    margin: auto;
    border-radius: 6px;
    border: 0%;
    outline: none;
    padding: 8px 8px;
}


.btonguardar{

    padding: 5px 20px;
    border-radius: 4px;

}

.Confirmacion{

    background-color: #d4edda; 
    color: #155724; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 15px;

}